<app-home></app-home>

<div>
<!-- Artist search result table -->
<div *ngIf="artist">
    <p class="artist-title">Results for Artist</p>
</div>
<table class="table" *ngIf="artist">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Genre</th>
      <th>Followers</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let art of artist">
      <!-- <td><a [routerLink]="[user.id]"><img [src]="user.profilePic"></a></td> -->
      <td *ngIf="art.images.length > 0"><a [routerLink]="['/artist', art.id, art.images[0].url, art.name, art.genres[0]]"><img [src]="art.images[0].url"></a></td>
      <td>{{art.name}}</td>
      <td>{{art.genres[0]}}</td>
      <td>{{art.followers.total}}</td>
      <td>{{art.type}}</td>
    </tr>
  </tbody>
</table>

<!-- Album search result table -->
<div *ngIf="album">
    <p class="album-title">Results for Album</p>
</div>
<table class="table" *ngIf="album">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Artist</th>
      <th>Tracks</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alb of album">
      <td *ngIf="alb.images.length > 0"><img [src]="alb.images[0].url"></td>
      <td>{{alb.name}}</td>
      <td>{{alb.artists[0].name}}</td>
      <td>{{alb.total_tracks}}</td>
      <td>{{alb.type}}</td>
    </tr>
  </tbody>
</table>

<!-- Track search result table -->
<div *ngIf="track">
    <p class="track-title">Results for Track</p>
</div>
<table class="table" *ngIf="track">
    <thead>
      <tr>
        <th>Name</th>
        <th>Album Name</th>
        <th>Artist</th>
        <th>Type</th>
        <th>Preview</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trk of track">
        <td>{{trk.name}}</td>
        <td>{{trk.album.name}}</td>
        <td>{{trk.artists[0].name }}</td>
        <td>{{trk.type}}</td>
        <td><a [href]="trk.preview_url" target="_blank"><button class="btn btn-outline-success btn-sm">Play</button></a></td>
      </tr>
    </tbody>
  </table>
</div>