
img {
    width: 30px;
    height: 30px;
}

.table {
    margin-left: 20px;
    color: #12d312;
    border: 5px solid #343a40;
    width: 97% !important;
}

p {
    margin-left: 20px;
    margin-top: 50px;
    color: #12d312;
}

.btn {
    border-radius: 40px;
    width: 80px;
}
